.header {
    width: 100%;
    font-size: 2rem;
    color: #c0392b;
    margin-bottom: 10px;
  }

  h1, h2, h3, p {
      color: #c0392b;
      text-align: center;
  }

  h5, h6 {
      text-align: center;
  }
  
  .title {
    float: center;
  }
  
  .scores {
    float: left;
  }

  .highscore{
      float: right;
  }